/* Landing.css */
.landing-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    background: url("https://media.istockphoto.com/id/108219342/photo/disturbing-toilet.jpg?s=612x612&w=0&k=20&c=ojvU7q57i8zvEl1qV_uoD25CucelSN4zs46GI8Fy0Pw=") no-repeat center center/cover;

}

body {
    background-color: rgba(0, 0, 0, 0.903);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.landing-content{
    background-color: rgba(0, 0, 0, 0.755);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.landing-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.explore-btn {
    background: #ff5733;
    color: white;
    font-weight: 600;
}

.submit-btn {
    background: #ffcc00;
    color: black;
}

.btn:hover {
    transform: scale(1.1);
}
